@import 'tailwindcss';

@theme {
    /* 基礎色彩 */
    --color-bg-primary: #131b29;
    --color-text-primary: #f0f4f8;
    --color-text-secondary: #8698aa;
    --color-row-hover: #1e3059;

    /* 買賣盤色彩 */
    --color-bullish: #00b15d;
    --color-bearish: #ff5b5a;

    /* 背景色彩 (半透明) */
    --color-bullish-bg: rgba(16, 186, 104, 0.12);
    --color-bearish-bg: rgba(255, 90, 90, 0.12);
    --color-neutral-bg: rgba(134, 152, 170, 0.12);
}

@keyframes flashRed {
    0% {
        background-color: rgba(255, 91, 90, 0.5);
    }
    100% {
        background-color: transparent;
    }
}
@keyframes flashGreen {
    0% {
        background-color: rgba(0, 177, 93, 0.5);
    }
    100% {
        background-color: transparent;
    }
}

.animate-flash-red {
    animation: flashRed 1s ease-out;
}
.animate-flash-green {
    animation: flashGreen 1s ease-out;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}
